.navbar {
  text-align: center;
  width: 100%;
  height: 10vh;
}
.navbar > a {
padding: 1rem;
}

.Table {
  width: 100%;
  text-align: center;
}
.Table {
  text-align: center;
}
.Table  td {
  padding: 0.5rem;
  border: 1px solid black;
}
.Table  tr {
  padding: 1rem;
}
.sortButn {
  padding: 0rem 2rem;
}
.sortButn > button {
  margin: 2rem;
}